<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="py-5 text-center">
  <h2>알바콘</h2>

</div>
<div class="container">
  <div class="py-5 text-center">
  </div>
  <h4 class="mb-3"></h4>
  <form action="loginForm.html" th:action method="post">
    <div>
    <label for="testId"></label>
      <input type="text" id="testId" name="testId" class="form-control"
             placeholder="아이디를 입력하세요">
    </div>
    <div>
      <label for="testPwd"></label>
      <input type="text" id="testPwd" name="testPwd" class="form-control" placeholder="비밀번호를 입력하세요">
    </div>
  </form>
</div> <!-- /container -->
<div class="container">
<hr class="my-4">
<div class="row">
  <div class="col">
    <button class="w-100 btn btn-primary btn-lg"
            onclick="location.href='XXForm.html'" type="button">로그인</button>
  </div>
  <div class="col">
    <button class="w-100 btn btn-secondary btn-lg"
            onclick="location.href='addForm.html'"
            th:onclick="|location.href='@{/basic/login/add}'|"
            type="button">회원가입</button>
  </div>
</div>
</div> <!-- /container -->
</body>
</html>